<div class="category-grid">
    <div class="row">
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu1.jpg" alt="Category 1">
        </div>
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu2.jpg" alt="Category 2">
        </div>
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu3.jpg" alt="Category 3">
        </div>
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu4.jpg" alt="Category 4">
        </div>
    </div>
    <div class="row">
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu2.jpg" alt="Category 6">
        </div>
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu2.jpg" alt="Category 7">
        </div>
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu2.jpg" alt="Category 8">
        </div>
        <div class="card" (click)="PlaySlot()">
            <img src="assets\slot_menu2.jpg" alt="Category 9">
        </div>
    </div>
</div>

